[data-component='Breakout'] {
	.css-ukg2h7-inputContainer-search {
    display: flex;
    flex-direction: column;
}
.css-10s0o5q-button-destructive-medium-fullWidth {
    color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 10px 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 0px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    transition: background 0.2s ease 0s;
    cursor: pointer;
    background-color: rgb(203, 34, 51);
    width: 100%;
}
.css-1m7m6m3-fieldContainer {
    position: relative;
    display: flex;
}
input[type=password], input[type=text], textarea {
    outline: 0;
    resize: none;
}
.css-ukg2h7-inputContainer-search input {
    text-align: center;
    padding-right: 16px;
}
.css-1bts3k5-button-primary-medium-fullWidth div > svg {
    fill: rgb(255, 255, 255);
}
.css-1hkz5sr-container > * + :not(.ignore-child) {
    margin-top: 16px;
}
.jitsi-icon-default svg {
    fill: #fff;
}
.css-bw62qe-container-container.css-bw62qe-container-container {
    box-shadow: none;
}
.breakout-room-container:hover {
    background-color: rgb(41, 41, 41);
}
.css-t4kzjs-actionsContainer {
    display: none;
    box-shadow: rgb(41 41 41) -15px 0px 10px -5px;
    background-color: rgb(41, 41, 41);
}
.breakout-room-container:hover .actions {
    display: flex;
    box-shadow: rgb(41, 41, 41) -15px 0px 10px -5px;
    background-color: rgb(41, 41, 41);
}
.css-1c2ihpo-button-primary-small-button {
    background-color: rgb(36, 111, 229);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 0px;
    transition: background 0.2s ease 0s;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 0.16px;
    margin-right: 8px;
}
.css-10p0shd-button-primary-iconButton-small.iconButton {
    padding: 6px;
}
.css-1nxmpxc-container {
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    margin: 0px -24px;
    padding: 8px 24px;
    position: relative;
    box-shadow: rgba(255, 255, 255, 0.15) 0px -1px 0px inset;
    min-height: 40px;
}

.css-10p0shd-button-primary-iconButton-small {
    background-color: rgb(36, 111, 229);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 0px;
    transition: background 0.2s ease 0s;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 0.16px;
}
.css-i7if01-container {
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0px;
    margin: 0px -30px;
    padding: 0px 16px;
    position: relative;
    box-shadow: #60605c 0px -1px 0px inset !important;
    min-height: 40px;
}
.hide{
    display: block;
    overflow:hidden;
}
.active-div{
    display: none;
    overflow:hidden;   
}
.css-1t1ycip-button-secondary-medium-fullWidth {
    border-radius: 6px;
    padding: 10px 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 0px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    transition: background 0.2s ease 0s;
    cursor: pointer;
    background-color: rgb(224, 224, 224);
    color: rgb(4, 4, 4);
    width: 100%;
}
.css-1t1ycip-button-secondary-medium-fullWidth:hover {
    background-color: rgb(255, 255, 255);
}
text {
    dominant-baseline: central;
    fill: rgb(255, 255, 255);
    font-size: 13pt;
    text-anchor: middle;
}
.css-a6wji9-contextMenu-contextMenuHidden {
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(82, 82, 82);
    border-radius: 6px;
    box-shadow: rgb(41 41 41 / 25%) 0px 1px 2px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-top: 46px;
    position: absolute;
    right: 16px;
    top: 0px;
    z-index: 2;
    max-height: 400px;
    overflow-y: auto;
    padding: 8px 0px;
    pointer-events: none;
    visibility: hidden;
}
.css-uf170q-contextMenuItem {
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    min-height: 40px;
    padding: 10px 16px;
    box-sizing: border-box;
}
.css-uf170q-contextMenuItem > :not(:last-child) {
    margin-right: 16px;
}
.css-1oh4e10-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
}
.css-bw62qe-container-container {
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    margin: 0px -16px;
    padding: 0px 16px;
    position: relative;
    box-shadow: rgb(255 255 255 / 15%) 0px -1px 0px inset;
    min-height: 40px;
}
.css-9mpzhf-arrowContainer {
    background-color: rgb(61, 61, 61);
    width: 24px;
    height: 24px;
    border-radius: 6px;
    margin-right: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.jss40 {
    color: rgba(255, 255, 255, 1);
    object-fit: cover;
    text-align: center;
    font-weight: 100;
    border-radius: 50%;
	background: rgb(0, 168, 179); font-size: 16px; height: 32px; width: 32px;
    }
.participant-avatar {
    margin: 8px 16px 8px 0px;
}
.css-1qbw81c-detailsContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.css-1dkn5fp-name {
    display: flex;
    flex: 1 1 0%;
    margin-right: 8px;
    overflow: hidden;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.css-lribt2-indicators {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.css-14p5y54-nameContainer {
    display: flex;
    flex: 1 1 0%;
    overflow: hidden;
}
.css-1lacpev-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.css-7s8ua3-input-clearableInput {
    background: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    padding: 10px 46px 10px 16px;
    border-radius: 6px;
    border: 0px;
    height: 40px;
    box-sizing: border-box;
    width: 100%;
}

.css-1bts3k5-button-primary-medium-fullWidth {
    background-color: rgb(36, 111, 229);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 10px 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 0px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    transition: background 0.2s ease 0s;
    cursor: pointer;
    width: 100%;
}
	$desktopWidth = 370px;
	$headerInfoHeight = 80px;
	$headerListHeight = 150px;
    
	position: fixed;
	z-index: 1000;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	pointer-events: none;

	+desktop() {
		width: $desktopWidth;
		padding-left: 20px;
	}

	+mobile() {
		left: 0;
	}

	> .content {
		overflow-y: scroll; overflow-x: hidden;
		position: relative;
		height: 100%;
		pointer-events: auto;
		background: rgba(#141e30, 0.925);
		overscroll-behavior: contain;
		transition-property: transform opacity;
		transition-duration: 0.25s;
		
		+desktop() {
			width: $desktopWidth - 20px;
			box-shadow: -4px 0px 12px 2px rgba(#000, 0.5);
		}

		+mobile() {
			width: 100%;
		}

		&:not(.visible) {
			transform: translateX(100%);
			opacity: 0;
		}

		> .header {
			position: absolute;
			
			z-index: 2;
			top: 0;
			left: 0;
			right: 0;
			padding: 0 28px;
			background: linear-gradient(
				to bottom,
				#141e30,
				#141e30,
				rgba(#141e30, 0.9),
				rgba(#141e30, 0));

			> .info {
				height: $headerInfoHeight;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				> .close-icon {
					flex: 0 0 auto;
					width: 28px;
					height: 28px;
					margin-left: 250px;
					margin-right: 0px;
					cursor: pointer;
					background-position: left;
					background-size: 100%;
					background-repeat: no-repeat;
					background-image: url('/resources/images/close-circle-sharp-white.svg');
					opacity: 0.75;

					&:hover {
						opacity: 1;
					}
				}

				> h1 {
					flex: 100 100 auto;
					text-transform: uppercase;
					color: #fff;
					font-size: 14px;
					font-weight: 500;
					text-align: right;

					textWithEllipsis();
				}
			}

			> .list {
				height: $headerListHeight;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-end;

				> p {
					margin-bottom: 5px;
					color: #FFF;
					font-size: 14px;
					font-weight: 400;
					user-select: none;

					> a {
						text-decoration: none;
						text-transform: uppercase;
						font-size: 12px;
						font-weight: 500;
						color: #FFF;
						cursor: pointer;

						&.disabled {
							opacity: 0.5;
							cursor: not-allowed;
						}
					}
				}
			}
		}

		> .stats {

			.main {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
}

.search {
    width: 30%;
}

ul li {
    font-size: 20px;
} 
			> .room-link-wrapper {
						pointer-events: none;
						position: absolute;
						z-index: 1;
						top: 0;
						left: 0;
						right: 0;
						display: flex;
						flex-direction: row;
						justify-content: center;

					> .room-link {
						width: auto;
						background-color: $COLOR_BG_1;
						border-bottom-right-radius: 4px;
						border-bottom-left-radius: 4px;
						box-shadow: 0px 3px 12px 2px rgba(#111, 0.4);

			> a.link {
				display: block;;
				user-select: none;
				pointer-events: auto;
				text-transform: uppercase;
				font-family: 'Roboto';
				font-weight: 400;
				color: rgba(#fff, 0.75);
				cursor: pointer;
				text-decoration: none;
				transition-property: color;
				transition-duration: 0.1s;

				+desktop() {
					padding: 10px 20px;
					font-size: 12px;
				}

				+mobile() {
					padding: 6px 10px;
					font-size: 10px;
				}

				&:hover {
					color: #fff;
					text-decoration: underline;
				}
			}
		}
	}
			padding: 0 28px;
			height: 100%;
			overflow: auto;

			> .items {
				margin-bottom: 40px;

				AppearFadeIn(150ms);

				&:after {
					$margin = $headerInfoHeight + $headerListHeight;

					content: '';
					display: block;
					visibility: hidden;
					margin-bottom: (-1 * $margin);
				}

				> h2 {
					margin-bottom: 20px;
					text-transform: uppercase;
					color:#FFF;
					font-size: 13px;
					font-weight: 500;
					text-align: center;

					textWithEllipsis();

					&:before {
						$margin = $headerInfoHeight + $headerListHeight;

						content: '';
						display: block;
						visibility: hidden;
						height: $margin;
					}
				}

				> .item {
					padding-bottom: 10px;
					margin-bottom: 20px;
					border-bottom: 1px solid #e5e5e5;

					> .line {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						margin-bottom: 8px;

						> .key {
							flex: 0 0 auto;
							width: 38.5%;
							color: #FFF;
							font-size: 11px;
							font-weight: 400;
							word-break: break-all;
							text-align: right;
						}

						> .value {
							flex: 0 0 auto;
							width: 58.5%;
							color: #FFF;
							font-size: 11px;
							font-weight: 400;
							word-break: break-all;
							text-align: left;
						}
					}
				}
			}
		}
	}
}
